
.Letters {
  display: flex;
  /* flex-direction: column; */
  /* text-align: center; */
  width: 390px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  float: inherit;
  /* overflow: hidden; */
  /* float: left; */
  position: absolute;
  transform: translate(-50%, -50%);
  /* margin: 0 0 0 0; */
  left: 50%;
  margin-top: 50px;
}
.square {
  height: 28px;
  width: 28px;
  background-color: lightblue;
  text-align: center;
  /* position: absolute; */
  border: 1px solid black;
  display: inline-block;
  /* margin: 1px; */
}

.square p {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin-top: 7px;
}

.true {
  background-color: red;
}
